.first {
    display: flex;
}

.space p {
    /* width: 20px; */
    font-weight: 700;
    height: 40px;
}

.second {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.btn button {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    border: 1px solid red;
    width: 150px;
    height: 60px;
    font-size: 17px;
    line-height: 42px;
    padding: 0 10px;
    /* border: none; */
    /* background-color: rgba(255, 255, 255, 0); */
    /* color: #191919; */
    color: white;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.dbtnnger button:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn button:before,
.btn button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn button:hover:before,
.btn button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* .first p {
    width: 50%;
    text-align: center;
    padding: 0 200px;
    border: 1px solid gray;
}

.second {
    display: flex;
}

.second p {
    width: 25%;
    text-align: center;
    padding: 0 30px;
} */